<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="errors">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <%= f.submit "Create User", :class => "btn btn-primary" %>

<% end %>